body {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  color: #393E46;
}

strong {
  color: #0097b2;
}

a {
  text-decoration: none;
  color: #0097b2;
  transition: all.35s;
}

::selection {
  background-color: #393e46;
  color: #ffffff;
}

#main-container {
  display: flex;
  width: 100%;
}

#left-sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

#left-sidebar h2 {
  color: #0097b2;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

#category-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

.category-item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  display: block; /* 设置为块级元素，使其独占一行 */
  width: 100%; /* 宽度占满父元素 */
  box-sizing: border-box; /* 确保内边距和边框不影响宽度计算 */
}

#right-content {
  flex: 1;
  padding: 20px;
  margin-left: 200px;
  position: relative;
}

/* 数据库按钮容器样式，使其固定在页面顶部 */
/* #database-buttons-container { */
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;*/
/* } */

#database-buttons-row {
  text-align: right;
  margin-bottom: 20px;
}

#database-label {
  margin-right: 10px;
  font-weight: bold;
}


.database-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #0097b2;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  background-color: #0097b2;
  color: white;
}

#statement-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 20px;
  /*  width: 100%;*/
  text-align: left;
}

#user-panel {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0097b2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.question li {
  padding: 5px 0;
  line-height: 1.8rem;
}

select {
  padding: 5px;
}

.incorrect {
  color: red;
}

.blank {
  color: orange;
}

.correct {
  color: green;
}

.feedback {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
}

.question-result{
  color: #0097b2;
}


/* 媒体查询，针对不同屏幕宽度调整样式 */
@media screen and (max-width: 768px) {
  #left-sidebar {
    width: 150px;
  }

  #right-content {
    margin-left: 150px;
  }

  #left-sidebar h2 {
    font-size: 20px;
  }

  button {
    padding: 8px 16px;
  }

 .database-button {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  #left-sidebar {
    width: 100px;
  }

  #right-content {
    margin-left: 100px;
  }

  #left-sidebar h2 {
    font-size: 16px;
  }

  button {
    padding: 6px 12px;
  }

 .database-button {
    padding: 6px 12px;
  }
}

.quick_start_container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.quick_start_container h1 {
  color: #000;
  font-size: 2em;
  /*
  font-weight: bold;*/
}

.quick_start_container p {
  color: #333;
}

.quick-start-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quick-start-button {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.quick-start-button:hover {
  cursor: pointer;
}

.footer-panel {
  text-align: center;
  padding: 10px;
}

/* 问题解释图标样式 */
.comment-icon {
  cursor: pointer;
  color: #0097b2; 
}

.tooltip-hidden {
  display: none;
}

.tooltip-content {
  position: absolute;
  background-color: #0097b2; 
  color: #fff;
  padding: .5em;
  border-radius: 3px;
  z-index: 1000; /* 确保提示框能显示在其他元素之上 */
  display: none; /* 初始隐藏，鼠标悬停时显示 */
  max-width: 500px; /* 限制提示框宽度，防止内容过多时太宽 */
  word-wrap: break-word; /* 自动换行，防止内容溢出 */
}

.tootip-content-show{
  position: absolute;
  display: block;
}