body {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  color: #393E46;
}

strong {
  color: #0097b2;
}

a {
  text-decoration: none;
  color: #0097b2;
  transition: all.35s;
}

::selection {
  background-color: #393e46;
  color: #ffffff;
}

#main-container {
  display: flex;
  width: 100%;
}

#category-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

#category-nav {
  padding: 0;
  margin: 0;
}

.category-item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  display: block; /* 设置为块级元素，使其独占一行 */
  width: 100%; /* 宽度占满父元素 */
  box-sizing: border-box; /* 确保内边距和边框不影响宽度计算 */
}

#right-content {
  flex: 1;
  padding: 20px;
  position: relative;
}

/* 数据库按钮容器样式，使其固定在页面顶部 */
/* #database-buttons-container { */
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;*/
/* } */

#database-buttons-row {
  text-align: right;
  margin-bottom: 20px;
}

#database-label {
  margin-right: 10px;
  font-weight: bold;
}


.database-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #0097b2;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  background-color: #0097b2;
  color: white;
}

#statement-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 20px;
  /*  width: 100%;*/
  text-align: left;
}

#user-panel {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0097b2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.question li {
  padding: 5px 0;
  line-height: 1.8rem;
}

select {
  padding: 5px;
}

.incorrect {
  color: red;
}

.blank {
  color: orange;
}

.correct {
  color: green;
}

.feedback {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
}

.question-result{
  color: #0097b2;
}

.nav-buttons {
  display: none;
}

.close-nav-button{
  display: none;
}

.nav-title{
  padding-bottom: 7px;
  color: #bbb;
  border-bottom: 1px solid #e6eef0;
}

i.nav-icon {
  font-size: 20px;
  cursor: pointer;
}

.header__overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(17, 17, 17, .7);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

.header__overlay.is-visible{
  opacity: 1;
  visibility: visible;
}

.close-icon {
  padding: 10px;
}

/* screen width > 769px */
@media only screen and (min-width: 769px) {

  #category-menu {
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
  }
  
  #category-menu h2 {
    color: #0097b2;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .nav-title{
    display: none;
  }

  #right-content {
    margin-left: 200px;
  }

  .tooltip-content {
    max-width: 500px; /* 限制提示框宽度，防止内容过多时太宽 */
  }
  
}

/* screen width <= 768px */
@media only screen and (max-width: 768px) {

  #main-container {
    flex-direction: column;
  }

  #category-list {
    position: fixed;
    top: 0;
    left: inherit;
    right: -300px;
    bottom: 0;
    transform: none;
    z-index: 100;
    width: 50vw;
    max-width: 238px;
    height: 100vh;
    padding: 40px 30px 30px;
    transition: right .5s cubic-bezier(0.7, 0.4, 0, 1);
    background: #fff;
  }

  #category-list.is-open {
    right: 0;
  }

  .close-nav-button {
    display: block;
    text-align: end;
  }

  .nav-buttons {
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    position: absolute;
    padding: 1.25em;
    /* right: 1.25em; */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #category-menu {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1.25em;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
  }

  #category-menu h2 {
    font-size: 20px;
    display: inline-block;
  }

  #right-content {
    background-color: #f5f5f5;
  }

  button {
    padding: 8px 16px;
  }

 .database-button {
    padding: 8px 16px;
  }

  .tooltip-content {
    max-width: 500px; /* 限制提示框宽度，防止内容过多时太宽 */
  }
}

/* screen width <= 540px */
@media only screen and (max-width: 540px) {
  #database-label{
    display: block;
  }
  .tooltip-content {
    max-width: 484px; /* 限制提示框宽度，防止内容过多时太宽 */
    left: 20px;
  }
}

.quick-start{
  background-color: transparent!important;
}

.quick_start_container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.quick_start_container h1 {
  color: #000;
  font-size: 2em;
  /*
  font-weight: bold;*/
}

.quick_start_container p {
  color: #333;
}


.quick-start-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quick-start-button {
  text-align: left;
  /* background-color: #f0f0f0; */
  background-color: transparent;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-decoration: none;
  color: inherit;
}

.quick-start-button:hover {
  cursor: pointer;
}

.quick-start-button h3,
.quick-start-button p{
  margin-block-end: 0.5em;
  margin-block-start: 0;
  /* font-size: 0.9rem; */
}

.quick-start-button p{
  color: rgba(0, 0, 0, 0.5);
}

.footer-panel {
  text-align: center;
  padding: 10px;
}

/* 问题解释图标样式 */
.comment-icon {
  cursor: pointer;
  color: #0097b2; 
}

.tooltip-hidden {
  display: none;
}

.tooltip-content {
  position: absolute;
  background-color: #0097b2; 
  color: #fff;
  padding: .5em;
  border-radius: .5em;
  z-index: 90; /* 确保提示框能显示在其他元素之上 */
  display: none; /* 初始隐藏，鼠标悬停时显示 */
  word-wrap: break-word; /* 自动换行，防止内容溢出 */
}

.tootip-content-show{
  display: block;
}

.display-correct-answers{
  background-color: #ffffff;
  color: #0097b2;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

.display-answers-icon {
  margin-right: 5px;
}

.display-correct-answer {
  text-decoration: underline;
}

.strike{
  text-decoration: line-through;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip-content-top::after {
  border-color: #0097b2 transparent transparent transparent;
  top: 100%;
  left: var(--after-content-left);
}

.tooltip-content-bottom::after {
  border-color: transparent transparent #0097b2 transparent;
  top: -10px;
  left: var(--after-content-left);
}